body {
    color: #465BBF;
}

header {
    background-color: #99A5C2;
}

footer {
    background-color: #99A5C2;
    margin: 0;
}

.logo {
    width: 80px;
    margin-left: 20px;
    margin-top: 5px;
}

.ham-menu-icon {
    color: #465BBF;
}

.navbar-toggler {
    border: none;
    margin-right: 20px;
}

.nav-menu {
    padding-left: 26px;
}

.nav-link {
    color: #465BBF;
    padding: 2px;
}

.nav-link:hover {
    color: #465BBF;
}

#collapsibleNavbar {}

.menu {
    background-color: #99A5C2;
    z-index: 1;
}

#collapsibleNavbar ul li:hover {
    background-color: #DAF1F6;
    color: #465BBF;
    z-index: 2;
}

#collapsibleNavbar ul li:hover .sous-menu {
    z-index: 3;
}

.navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
}

/* rotate caret on hover */
.dropdown-menu>li>a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.sub-menu {
    --bs-dropdown-link-active-bg: #DAF1F6;
}

.img_foot {
    background: #99A5C2;
    height: 30px;

}

#credits {
    padding: 30px;
}

#reseaux {
    display: flex;
    column-gap: 10px;
    justify-content: right;
}

a {
    text-decoration: none;
    color: white;
}

/*For descktop*/
@media only screen and (min-width: 576px) {
    .logo {
        width: 100px;
    }

    .img_foot {
        height: 40px;
    }

    #reseaux {
        gap: 60px;
        padding-right: 60px;
        justify-content: flex-end;
        padding-top: 32px;
    }

    #credits {
        width: 50%;
    }

    .nav-menu {
        padding-right: 20px;
    }

    .nav-link {
        font-size: 1.3rem;
    }
}