/*commun*/
h1 {
    color: white;
}

/*commun*/

/*for mypage*/
#participant .bg-img {
    background-image: url("../img/friends.jpg");
    background-position: center 35%;
    height: 190px;
    background-size: cover;
    /*To place the element with .title at center of this element*/
    position: relative;
}

#participant .title {
    display: inline-block;
    /*To place it center of the element .bg-img*/
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#participant .btn-search,
#participant .add-form .btn {
    background: #F6BA9D;
    color: white;
}

#participant .form-label span {
    color: #F6BA9D;
}

#participant .desktop-list {
    display: none;
}

#participant a {
    color: #465BBF;
}

#participant a:hover {
    color: #99A5C2;
}

/* for accordion */
.accordion {
    margin-top: 10px;
}

.accordion__container {
    margin: 0 auto;
}

.accordion__title {
    background-color: #C2A099;
    border: 1px solid transparent;
    color: #fff;
    font-size: 1.25em;
    padding: .625em .625em .625em .625em;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.accordion__title::before,
.accordion__title::after {
    content: '';
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    width: 15px;
    height: 2px;
    right: 25px;
}

.accordion__title::after {
    transform: rotate(90deg);
    transition-duration: .3s;
}

.accordion__title:hover,
.accordion__title:active,
.accordion__title.is-active {
    background-color: #C2A099;
}

.accordion__title.is-active::before {
    opacity: 0;
}

.accordion__title.is-active::after {
    transform: rotate(0);
}

.accordion__content {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 0 1.5em;
    line-height: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition-duration: .3s;
}

.accordion__content.is-open {
    border: 1px solid #C2A099;
    padding: .625em 1.5em;
    line-height: normal;
    /* numberに書き換える*/
    height: auto;
    opacity: 1;
}

/*For descktop*/
@media only screen and (min-width: 576px) {
    #participant .bg-img {
        background-size: cover;
        background-position: center 44%;
        height: 450px;
    }

    #participant .submit-btn {
        width: 80%;
        margin: auto;
    }

    #participant .mobile-list {
        display: none;
    }

    #participant .desktop-list {
        display: block;
    }

    #participant h3 {
        background-color: #C2A099;
        border: 1px solid transparent;
        color: #fff;
        font-size: 1.25em;
        padding: 0.625em 0.625em 0.625em 2em;
    }

    #participant .participant-details {
        border: 1px solid #C2A099;
        padding: 0.625em 1.5em;
        line-height: normal;
        height: auto;
        opacity: 1;
    }

    #participant .btn {
        font-size: 25px;
    }
}